/*---colores---
Encabezado celeste oscuro - 			#09C;
Encabezado secundario gris oscuro - 	#CCC;
Fondo cajas -							#c4e3ff;
Encabezado cajas - 						#09F;
Links cajas - 							#061f28;
*/


@charset "utf-8";
/* CSS Document */
* {
	margin: 0;
	padding:0;
}
html  {
	font-family:"Century Gothic", Helvetica, sans-serif;
}

/*---caja externa del contenido de la web---*/
#page-wrap {
	width: 900px;
	margin: 0 auto;
	box-shadow: 3px 3px 15px #d3d3d3;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

/*---header---*/

/* -- Cuadro para FLASH con las dimensiones puestas y con "Float" a la izquierda */
#page-wrap header #logo {
	height: 120px;
	width: 435px;
	margin-top: 0;
	float: left;
}

#logos {
	height: 120px;
	width: 435px;
}

#logo2 {
	height: 25px;
	width: 435px;
	float: left;
	margin-bottom: 10px;
}
#logo2 h3 {
	text-align: center;
	margin-right: 60px;
	font-size: 1.5em;
	font-weight: lighter;
}
#page-wrap aside nav ul li a img {
	margin-right: 7px;
	margin-left: 7px;
}
#page-wrap header {
	line-height: 25px;
}





/* -- Texto principal con color y tamaño -- */
#page-wrap header h1 {
	color: #41c3f3;
	font-family: helvetica, "Times New Roman", Times, serif;
	font-weight: lighter;
	font-size: 2.5em;
}
/*---FIN DEL HEADER---*/


/*---diapositivas---*/
#slider {
	width: 900px;
	height: 315px;
	clear: both;
}

/*-- diseño sobre los section--*/
/*---en conjunto: locations y activities---*/
#cajas {
	height: 410px;
	width: 400px;
	margin-right: 25px;
	margin-top: 26px;
	float: left;
	
}
section h3  {
	background-color: #c4e3ff;
	
	 }

section a {
	font-size: 14px;
	font-weight: bold;
	color: #061f28;
	padding-left: 15px;
	text-decoration: none;
	letter-spacing: 3px;
	word-spacing: 2px;
	display: block;
}
section a:hover  {
	color: #c4e3ff;
	background-color: #061f28;
	text-align: left;

}
section ul {
	list-style: none;
	text-decoration: none;
}

/*---sectionLoctions---*/

a.locations  {
	height: 30px;
	width: 300px;
}

#fondolocations {
	background-color: #c4e3ff;
	margin-left: 43px;
}
#locations h2 {
	color: #00aeed;
	margin-bottom: 7px;
	margin-left: 40px;
	margin-top: 5px;
}

/*---sectionActivities---*/

#fondoactivities {
	background-color: #c4e3ff;
	margin-left: 43px;
}
#activities h2 {
	color: #00aeed;
	margin-left: 40px;
	margin-bottom: 7px;
	margin-top: 5px;
}
/*---FIN DE LOS SECTIONS---*/

/*---barra de navegación---*/
#page-wrap aside nav {
	letter-spacing: 1px;
	text-align: right;
	word-spacing: 20px;
	float: left;
	height: 30px;
	width: 418px;
	margin-top: 36px;
}
#page-wrap aside nav ul {
	text-decoration: none;
	display: inline;
	list-style-type: none;
}
#page-wrap aside nav ul li{
	text-decoration: none;
	display: inline;
	list-style-type: none;
}
#page-wrap aside nav ul a {
	text-decoration: none;
	display: inline;
	list-style-type: none;
	color: #043164;
}
/*---FIN DE LA BARRA DE NAVEGACION---*/

/*---section search---*/
section#search {
	height: 410px;
	width: 400px;
	background-color: #00aeef;
	float: left;
	border: 3px solid #c4e3ff;
	margin-bottom: 50px;
}
/* Buscador */

#page-wrap #search {
	word-spacing: 5px;
	float: left;
	width: 418px;
	margin-right: 15px;
}
/* Tamaño y color de h1 del search */
#page-wrap #search h1 {
	color: #FFF;
	font-size: 36px;
}




/* Tamaño y color de h2 del search */
#page-wrap #search h2 {
	font-size: 18px;
	color: #FFF;
	font-family: helvetica;
	margin-right: 20px;
}

#page-wrap #search #contenidosearch {
	padding: 30px;
	margin-left: 15px;
	word-spacing: 5px;
	line-height: 33px;
	color: #FFF;
	text-align: left;
}

 /*tamaño del cuadro desplegable del search*/
#contenidosearch #form1 #select {
	width: 100%;
}

/*---boton de "buscar" en el search---*/
#button2 {
	float: right;
	background-color: #06F;
	background-image: url(../imagenes/botonsearch.jpg);
	background-size: 100% 100%;
	height: 25px;
	width: 100px;
}
/*---FIN DEL SEARCH---*/

/*--- div FIESTAS ---*/
#fiestas {
	border-top-width: 2px;
	
	border-top-style: solid;
	border-top-color: #44c4f3;
	
	width: 435px;
	float: left;
	color: #041b23;
}


#fiestas h1 {
	font-family: "Helvetica LT Std";
	color: #c4e3ff;
	font-size: 16px;
	padding-left: 17px;
}

#fiestas h2 {
	font-family:"Century Gothic", Helvetica, sans-serif;
	font-size: 18px;
	padding-left: 17px;
	color: #041b23;
	margin-top: 15px;
}
#fiestas h2 a:hover  {
	color:#c4e3ff;
}

#fiestas h2 a {
	text-decoration: none;
	color: #000;
	font-weight: lighter;
}
/*---FIN DE FIESTAS---*/

/* ---div fiestas2 "more than just a holiday"--- */
#page-wrap #fiestas2 {
	font-family:"Century Gothic", Helvetica, sans-serif;
	color: #42c2f3;
	font-size: 20px;
	width: 435px;
	padding-top: 100px;
	border-top-width: 2px;
	border-top-style: solid;
	border-top-color: #44c4f3;
}
#page-wrap #fiestas2 p{
	float:right;
}
/*---FIN DE FIESTAS2---*/

/* ---footer ---*/
#page-wrap footer {
	padding-bottom: 10px;
	padding-left: 17px;
	clear: both;
}
/*---FIN DEL FOOTER---*/

/*---copyright, creditos, telefono, email y enlaces---*/
#page-wrap footer #copyright {
	clear:both;
}
/*---FIN DEL COPY---*/
 
#creditos {
	color: #54bfe5;
	text-align: center;
	margin-top: 70px;
	margin-bottom: 30px;
}
